<div class="flex flex-col flex-auto min-w-0">
    <mat-drawer-container class="flex-grow" cdkScrollable>
        <!--Mat Drawer-->
        <mat-drawer mode="over" position="end" class="sm:w-100 w-full bg-primary"
                    autoFocus="false"
                    (openedChange)="showFiller=$event"
                    [opened]="showFiller">
            <div
                class="flex flex-row w-full bg-primary-700 p-4 items-center">
                <div *ngIf="!isEdit" class="flex-row text-lg text-white font-semibold text-center w-full">
                    إضافة الموظف
                </div>
                <div *ngIf="isEdit" class="flex-row text-lg text-white font-semibold text-center w-full">
                    تحديث الموظف
                </div>
                <div class="flex-row flex-grow">
                    <button (click)="showFiller=false"
                            mat-icon-button>
                        <mat-icon
                            class="icon-size-5 text-white"
                            [svgIcon]="'heroicons_solid:x'"></mat-icon>
                    </button>
                </div>
            </div>

            <div class="flex flex-col w-full p-4">
                <!--Start Form-->
                <form [formGroup]="createUserForm">
                    <!--Name field-->
                    <mat-form-field appearance="fill" class="w-full">
                        <mat-label class="text-white font-regular">اسم</mat-label>
                        <input matInput [formControlName]="'name'" placeholder="اكتب اسم">
                        <mat-hint class="text-secondary-900"></mat-hint>
                        <mat-error *ngIf="createUserForm.get('name').hasError('required')">
                            الاسم مطلوب
                        </mat-error>
                    </mat-form-field>
                    <!--Email Field-->
                    <mat-form-field appearance="fill" class="w-full">
                        <mat-label class="text-white font-regular">البريد الإلكتروني</mat-label>
                        <input [readonly]="isReadOnly" [ngClass]="isReadOnly? 'opacity-50' : 'opacity-100'"
                               matInput [formControlName]="'email'"
                               placeholder="اكتب البريد الإلكتروني">
                        <mat-error *ngIf="createUserForm.get('email').hasError('required')">
                            الاسم مطلوب
                        </mat-error>
                    </mat-form-field>
                    <!--Password Field-->
                    <mat-form-field appearance="fill" class="w-full">
                        <mat-label class="text-white font-regular">كلمه المرور</mat-label>
                        <input type="password" #passwordField matInput [formControlName]="'password'"
                               placeholder="اكتب كلمه المرور">
                        <mat-error *ngIf="createUserForm.get('password').hasError('required')">
                            كلمه المرور مطلوب
                        </mat-error>
                        <button
                            mat-icon-button
                            type="button"
                            (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                            matSuffix>
                            <mat-icon
                                class="icon-size-5"
                                *ngIf="passwordField.type === 'password'"
                                [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                            <mat-icon
                                class="icon-size-5"
                                *ngIf="passwordField.type === 'text'"
                                [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                        </button>
                    </mat-form-field>
                    <!--Confirm Password Field-->
                    <mat-form-field appearance="fill" class="w-full">
                        <mat-label class="text-white font-regular">تأكيد كلمة المرور</mat-label>
                        <input type="password" matInput [formControlName]="'confirm_password'"
                               placeholder="اكتب تأكيد كلمه المرور" #passwordFieldConfirm>
                        <mat-error *ngIf="createUserForm.get('confirm_password').hasError('required')">
                            تأكيد كلمه المرور مطلوب
                        </mat-error>
                        <button
                            mat-icon-button
                            type="button"
                            (click)="passwordFieldConfirm.type === 'password' ? passwordFieldConfirm.type = 'text' : passwordFieldConfirm.type = 'password'"
                            matSuffix>
                            <mat-icon
                                class="icon-size-5"
                                *ngIf="passwordFieldConfirm.type === 'password'"
                                [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                            <mat-icon
                                class="icon-size-5"
                                *ngIf="passwordFieldConfirm.type === 'text'"
                                [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                        </button>
                        <mat-error *ngIf="createUserForm.get('confirm_password').hasError('mustMatch')">
                            يجب ان تتطابق كلمات المرور
                        </mat-error>
                    </mat-form-field>
                </form>
                <!--End Form-->
                <div class="flex flex-row w-full justify-end">
                    <button *ngIf="!isEdit"
                            mat-flat-button [disabled]="createUserForm.invalid"
                            (click)="uploadEmployee()">
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:check'"></mat-icon>
                        <span class="mr-2">حفظ</span>
                    </button>
                    <button *ngIf="isEdit"
                            mat-flat-button [disabled]="createUserForm.invalid"
                            (click)="updateEmployee()">
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'heroicons_solid:check'"></mat-icon>
                        <span class="mr-2">تحديث</span>
                    </button>

                </div>
            </div>
        </mat-drawer>
        <mat-drawer-content>

            <!-- Header -->
            <div class="bg-card">
                <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
                    <div class="flex flex-col sm:flex-row flex-auto sm:items-center min-w-0 my-8 sm:my-12">
                        <!-- Avatar and name -->
                        <div class="flex flex-grow items-center min-w-0">
                            <div class="flex-0 w-16 h-16 rounded-full bg-primary flex items-center justify-center">
                                <mat-icon svgIcon="heroicons_solid:users" [ngStyle]="{'color': 'white'}"
                                          class="icon-size-10"></mat-icon>
                            </div>
                            <div class="flex flex-col min-w-0 mr-4">
                                <div
                                    class="text-2xl md:text-5xl font-medium tracking-tight leading-7 md:leading-snug truncate">
                                    الموظفين
                                </div>
                            </div>
                        </div>
                        <!-- Action -->
                        <button
                            mat-flat-button
                            (click)="addEmployee()"
                            [color]="'primary'">
                            <mat-icon
                                class="icon-size-5"
                                [svgIcon]="'heroicons_solid:plus'"></mat-icon>
                            <span class="mr-2">أضافة</span>
                        </button>
                    </div>
                </div>
            </div>

            <!-- Main -->
            <div class="flex-auto border-t -mt-px pt-4 sm:pt-6 p-4 mx-8">
                <div class="flex lg:flex-row flex-col gap-4 w-full">
                    <div class="w-full p-6 bg-card shadow rounded-2xl overflow-auto">
                        <div class="flex flex-row w-full items-center justify-evenly">
                            <div class="w-full" *ngIf="employees.length">
                                <table mat-table [dataSource]="dataSource" class="demo-table">

                                    <!-- Index Column -->
                                    <ng-container matColumnDef="number">
                                        <th mat-header-cell *matHeaderCellDef> فهرس</th>
                                        <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
                                    </ng-container>

                                    <!-- Id Column -->
                                    <ng-container matColumnDef="id">
                                        <th mat-header-cell *matHeaderCellDef> هوية شخصية</th>
                                        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                                    </ng-container>

                                    <!-- Name Column -->
                                    <ng-container matColumnDef="name">
                                        <th mat-header-cell *matHeaderCellDef> الأسم</th>
                                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                                    </ng-container>

                                    <!-- Email Column -->
                                    <ng-container matColumnDef="email">
                                        <th mat-header-cell *matHeaderCellDef> البريد الإلكتروني</th>
                                        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                                    </ng-container>

                                    <!-- Created_at Column -->
                                    <ng-container matColumnDef="created_at">
                                        <th mat-header-cell *matHeaderCellDef> تاريخ الإنشاء</th>
                                        <td mat-cell
                                            *matCellDef="let element"> {{element.created_at | dateTransform}} </td>
                                    </ng-container>

                                    <!-- Updated_at Column -->
                                    <ng-container matColumnDef="updated_at">
                                        <th mat-header-cell *matHeaderCellDef>تم التحديث في التاريخ</th>
                                        <td mat-cell
                                            *matCellDef="let element"> {{element.updated_at | dateTransform}} </td>
                                    </ng-container>

                                    <!-- Action Column -->
                                    <ng-container matColumnDef="action">
                                        <th mat-header-cell *matHeaderCellDef> عمل</th>
                                        <td mat-cell *matCellDef="let element">
                                            <button mat-icon-button (click)="deleteEmployee(element.id)"
                                                    matTooltip="حذف">
                                                <mat-icon [ngClass]="'text-red-500'"
                                                          svgIcon="heroicons_solid:trash"></mat-icon>
                                            </button>
                                        </td>
                                    </ng-container>


                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                    <tr
                                        mat-row
                                        *matRowDef="let row; columns: displayedColumns;" (click)="editEmployee(row)"
                                    ></tr>
                                </table>
                                <div class="flex justify-end">
                                    <mat-paginator #paginator [pageSizeOptions]="[15, 30, 50]"
                                                   showFirstLastButtons
                                                   aria-label="Select page of periodic elements">
                                    </mat-paginator>

                                </div>
                            </div>
                            <div class="flex flex-row justify-center p-4 font-bold text-lg" *ngIf="!employees.length">لا يوجد موظفين للعرض</div>

                        </div>
                    </div>
                </div>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>

