<div class="flex flex-row w-full bg-card justify-center">
    <div class="flex flex-col w-2/4 items-center self-center">
        <!-- Title -->
        <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight">اعد ضبط كلمه السر</div>
        <div class="mt-0.5 font-medium">قم بإنشاء كلمة مرور جديدة لحسابك</div>

        <!-- Alert -->
        <fuse-alert
            class="mt-8"
            *ngIf="showAlert"
            [appearance]="'outline'"
            [showIcon]="false"
            [type]="alert.type"
            [@shake]="alert.type === 'error'">
            {{alert.message}}
        </fuse-alert>

        <!-- Reset password form -->
        <form
            class="mt-8"
            [formGroup]="resetPasswordForm"
            #resetPasswordNgForm="ngForm">

            <!-- Old Password field -->
            <mat-form-field class="w-full">
                <mat-label>كلمة المرور القديمة</mat-label>
                <input
                    id="oldPassword"
                    matInput
                    type="password"
                    [formControlName]="'oldPassword'"
                    #passwordField>
                <button
                    mat-icon-button
                    type="button"
                    (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                    matSuffix>
                    <mat-icon
                        class="icon-size-5"
                        *ngIf="passwordField.type === 'password'"
                        [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                    <mat-icon
                        class="icon-size-5"
                        *ngIf="passwordField.type === 'text'"
                        [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                </button>
                <mat-error>
                    كلمة المرور مطلوبة
                </mat-error>
            </mat-form-field>

            <!-- Old Password field -->
            <mat-form-field class="w-full">
                <mat-label>كلمة المرور جديدة</mat-label>
                <input
                    id="password"
                    matInput
                    type="password"
                    [formControlName]="'password'"
                    #passwordField>
                <button
                    mat-icon-button
                    type="button"
                    (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                    matSuffix>
                    <mat-icon
                        class="icon-size-5"
                        *ngIf="passwordField.type === 'password'"
                        [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                    <mat-icon
                        class="icon-size-5"
                        *ngIf="passwordField.type === 'text'"
                        [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                </button>
                <mat-error>
                    كلمة المرور مطلوبة
                </mat-error>
            </mat-form-field>


            <!-- Password confirm field -->
            <mat-form-field class="w-full">
                <mat-label>تأكيد كلمة المرور</mat-label>
                <input
                    id="password-confirm"
                    matInput
                    type="password"
                    [formControlName]="'passwordConfirm'"
                    #passwordConfirmField>
                <button
                    mat-icon-button
                    type="button"
                    (click)="passwordConfirmField.type === 'password' ? passwordConfirmField.type = 'text' : passwordConfirmField.type = 'password'"
                    matSuffix>
                    <mat-icon
                        class="icon-size-5"
                        *ngIf="passwordConfirmField.type === 'password'"
                        [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                    <mat-icon
                        class="icon-size-5"
                        *ngIf="passwordConfirmField.type === 'text'"
                        [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                </button>
                <mat-error *ngIf="resetPasswordForm.get('passwordConfirm').hasError('required')">
                    مطلوب تأكيد كلمة المرور
                </mat-error>
                <mat-error *ngIf="resetPasswordForm.get('passwordConfirm').hasError('mustMatch')">
                    يجب ان تتطابق كلمات المرور
                </mat-error>
            </mat-form-field>

            <!-- Submit button -->
            <button
                class="fuse-mat-button-large w-full mt-3"
                mat-flat-button
                [color]="'primary'"
                [disabled]="resetPasswordForm.disabled"
                (click)="resetPassword()">
                    <span *ngIf="!resetPasswordForm.disabled">
                        اعد ضبط كلمه السر
                    </span>
                <mat-progress-spinner
                    *ngIf="resetPasswordForm.disabled"
                    [diameter]="24"
                    [mode]="'indeterminate'"></mat-progress-spinner>
            </button>


        </form>
    </div>
</div>

