<div class="flex flex-col w-full">
    <div class="bg-card">
        <div class="flex flex-col w-full max-w-screen-xl mx-auto px-6 sm:px-8">
            <div class="flex flex-row items-center my-8">
                <!-- Avatar and name -->
                <div class="flex flex-grow items-center min-w-0">
                    <div class="flex-0 w-16 h-16 rounded-full bg-primary flex items-center justify-center">
                        <mat-icon svgIcon="mat_solid:work" [ngStyle]="{'color': 'white'}"
                                  class="icon-size-10"></mat-icon>
                    </div>
                    <div class="flex flex-col min-w-0 mr-4">
                        <div
                            class="text-2xl md:text-5xl font-medium tracking-tight leading-7 md:leading-snug truncate">
                            تفاصيل الوظيفة
                        </div>
                    </div>
                </div>
                <!-- Action -->
                <button
                    mat-flat-button
                    [color]="'primary'"
                    (click)="backToJobs()">
                    <mat-icon class="icon-size-5" svgIcon="mat_solid:arrow_forward_ios"></mat-icon>
                    <span class="mr-2">الرجوع للقائمة</span>
                </button>
            </div>
        </div>

    </div>
    <!-- Attachments -->
    <div class="flex-auto -mt-px pt-4 sm:pt-6 px-4 mx-8">
        <div class="flex lg:flex-row flex-col gap-4 w-full  max-h-72 overflow-auto">
            <div class="w-full p-6 bg-card shadow rounded-2xl overflow-auto">
                <div class="flex flex-col w-full gap-4">
                    <div class="flex flex-grow font-bold text-lg sm:block hidden"
                    >شكاوي
                    </div>
                    <div *ngIf="!complains.length" class="flex flex-row w-full justify-between">
                        <div>لم يتم رفع أي شكوى</div>
                    </div>
                    <div class="flex flex-col w-full" *ngFor="let complain of complains">
                        <div class="flex flex-grow items-start min-w-0">
                            <div class="flex-0 w-8 h-8 rounded-full bg-primary flex items-center justify-center">
                                <mat-icon svgIcon="heroicons_solid:chat-alt" [ngStyle]="{'color': 'white'}"
                                          class="icon-size-5"></mat-icon>
                            </div>
                            <div class="flex flex-col min-w-0 mr-2">
                                <div
                                    class="text-md font-bold tracking-tight leading-7 md:leading-snug truncate">
                                    {{complain?.created_by?.name | titlecase}} <span
                                    class="mr-2 font-light text-sm">{{complain.created_at | timeAgo}}</span>
                                </div>
                                <div class="flex flex-row w-full justify-between">
                                    {{complain.comment}}
                                </div>
                                <div class="flex flex-col gap-2 mt-2 w-full justify-between cursor-pointer">
                                    <img *ngIf="complain?.attachment_id" (click)="showLightbox(complain?.attachment_id)"
                                         class="h-20 w-auto rounded-md "
                                         [src]="'https://tawafat.xmotion-sa.com/api/attach/' + complain?.attachment_id"
                                         [alt]="complain.attachmentType"/>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Job Details -->
    <div class="flex-auto -mt-px pt-4 sm:pt-6 px-4 mx-8">
        <div class="flex lg:flex-row flex-col gap-4 w-full">
            <div class="w-full p-6 bg-card shadow rounded-2xl overflow-auto">
                <div class="flex flex-row w-full justify-between">
                    <div class="font-bold">تفاصيل</div>
                    <div class="flex flex-row justify-end">
                        <button
                            [matTooltip]="'تحرير الوظيفة'"
                            mat-icon-button
                            (click)="editJob()">
                            <mat-icon class="icon-size-5" svgIcon="mat_solid:edit"
                                      [ngClass]="'text-primary'"></mat-icon>
                        </button>
                        <button
                            [matTooltip]="'حذف الوظيفة'"
                            mat-icon-button
                            (click)="deleteJob()">
                            <mat-icon [ngClass]="'text-red-500 icon-size-5'"
                                      svgIcon="heroicons_solid:trash"></mat-icon>
                        </button>
                    </div>
                </div>
                <div class="flex sm:flex-row flex-col w-full gap-6">

                    <div class="sm:w-1/2 w-full">
                        <div>
                            <div class="text-sm font-bold">{{'الرقم التسلسلي'}}</div>
                            <div class="border rounded-md p-2 mt-1 mb-4 capitalize">
                                {{job?.id}}
                            </div>
                        </div>
                        <div>
                            <div class="text-sm font-bold">{{'اسم الوظيفة'}}</div>
                            <div class="border rounded-md p-2 mt-1 mb-4 capitalize">
                                {{job?.name}}
                            </div>
                        </div>


                        <div class="flex flex-row gap-2">
                            <div class="w-1/2">
                                <div>
                                    <div class="text-sm font-bold">{{'تاريخ البدء'}}</div>
                                    <div class="border rounded-md p-2 mt-1 mb-4 capitalize">
                                        {{job?.start_date | dateTransform}}
                                    </div>
                                </div>
                            </div>
                            <div class="w-1/2">
                                <div>
                                    <div class="text-sm font-bold">{{'تاريخ الانتهاء'}}</div>
                                    <div class="border rounded-md p-2 mt-1 mb-4 capitalize">
                                        {{job?.end_date | dateTransform}}
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div>
                            <div class="text-sm font-bold">{{'وصف الوظيفة'}}</div>
                            <div class="border rounded-md p-2 mt-1 mb-4 capitalize">
                                {{job?.description}}
                            </div>
                        </div>
                        <div>
                            <div class="text-sm font-bold">{{'نوع الزيارة'}}</div>
                            <div class="border rounded-md p-2 mt-1 mb-4 capitalize">
                                {{getJobType(job?.type) || 'غير متوفر'}}
                            </div>
                        </div>


                        <div>
                            <div class="text-sm font-bold">{{'العامل المسؤول'}}</div>
                            <div class="border rounded-md p-2 mt-1 mb-4 capitalize">
                                {{job?.assigned_to?.email || 'غير متوفر'}}
                            </div>
                        </div>
                    </div>
                    <div class="sm:w-1/2 w-full">
                        <div>
                            <div class="text-sm font-bold">{{'موقعا'}}</div>
                            <div class="border rounded-md p-2 mt-1 mb-4 capitalize">
                                {{job?.location?.address || 'غير متوفر'}}
                            </div>
                        </div>

                        <google-map
                            [options]="{streetViewControl:false}"
                            [center]="{lat: parseFloat(job?.location?.lat), lng: parseFloat(job?.location?.long)}"
                            [zoom]="18" height="300px" width="100%">
                            <map-marker
                                [position]="{lat: parseFloat(job?.location?.lat), lng: parseFloat(job?.location?.long)}"></map-marker>
                            <map-circle
                                [options]="{center:{lat: parseFloat(job?.location?.lat), lng: parseFloat(job?.location?.long)},visible: true, radius:this.radius, fillColor:'#a17a3f', strokeColor: '#a17a3f'}"></map-circle>
                            <map-info-window>{{"Info Window content" }}</map-info-window>

                        </google-map>
                        <div class="flex flex-row w-full mt-4">
                            <div class="flex flex-col w-1/2">
                                <div class="text-sm font-bold mb-1">{{'جي بي إس'}}</div>
                                <mat-slide-toggle [disabled]="true" color="primary" [checked]="job?.enable_gps"></mat-slide-toggle>
                            </div>
                            <div class="flex flex-col w-1/2">
                                <div class="text-sm font-bold mb-1">{{'معرض الصور'}}</div>
                                <mat-slide-toggle [disabled]="true" color="primary" [checked]="job?.enable_studio"></mat-slide-toggle>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Visit details-->
    <div class="flex-auto -mt-px pt-4 sm:pt-6 px-4 pb-2 mx-8">
        <div class="flex lg:flex-row flex-col gap-4 w-full">
            <div class="w-full gap-2 p-6 bg-card shadow rounded-2xl overflow-auto">
                <div class="flex flex-row w-full justify-between">
                    <div class="font-bold">تفاصيل الزيارة</div>
                </div>
                <div [ngSwitch]="job.type">
                    <!--Food Visit-->
                    <div *ngSwitchCase="'1'" class="pt-4">
                        <div class="flex flex-col sm:flex-row w-full gap-6">
                            <div class="sm:w-1/3 w-full">
                                <div class="text-sm font-bold">{{'نوع الزيارة'}}</div>
                                <div class="border rounded-md p-2 mt-1 mb-4 capitalize">
                                    {{getJobType(job?.type)}}
                                </div>
                            </div>
                            <div class="sm:w-1/3 w-full">
                                <div>
                                    <div class="text-sm font-bold">{{'التاريخ والوقت'}}</div>
                                    <div class="border rounded-md p-2 mt-1 mb-4 capitalize">
                                        {{(job?.job_detail?.date_time | dateTransform) || 'غير متوفر'}}
                                    </div>
                                </div>
                            </div>
                            <div class="sm:w-1/3 w-full">
                                <div>
                                    <div class="text-sm font-bold">{{'تم التحديث في'}}</div>
                                    <div class="border rounded-md p-2 mt-1 mb-4 capitalize">
                                        {{(job?.job_detail?.updated_at | dateTransform) || 'غير متوفر'}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col sm:flex-row w-full gap-6">
                            <div class="sm:w-1/3 w-full">
                                <div class="text-sm font-bold">{{'عدد الحزم'}}</div>
                                <div class="border rounded-md p-2 mt-1 mb-4 capitalize">
                                    {{job?.job_detail?.no_of_packages || 'غير متوفر'}}
                                </div>
                            </div>
                            <div class="sm:w-1/3 w-full">
                                <div class="text-sm font-bold">{{'عدد الحزم المرفوضة'}}</div>
                                <div class="border rounded-md p-2 mt-1 mb-4 capitalize">
                                    {{job?.job_detail?.rejected_packages || 'غير متوفر'}}
                                </div>
                            </div>
                            <div class="sm:w-1/3 w-full">
                                <div class="text-sm font-bold">{{'الحد الأدنى لوزن الحزمة'}}</div>
                                <div class="border rounded-md p-2 mt-1 mb-4 capitalize">
                                    {{job?.job_detail?.min_weight || 'غير متوفر'}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Gate Visit-->
                    <div *ngSwitchCase="'2'" class="pt-4">
                        <div class="flex flex-col sm:flex-row w-full gap-6">
                            <div class="sm:w-1/3 w-full">
                                <div class="text-sm font-bold">{{'نوع الزيارة'}}</div>
                                <div class="border rounded-md p-2 mt-1 mb-4 capitalize">
                                    {{getJobType(job?.type)}}
                                </div>
                            </div>
                            <div class="sm:w-1/3 w-full">
                                <div>
                                    <div class="text-sm font-bold">{{'التاريخ والوقت'}}</div>
                                    <div class="border rounded-md p-2 mt-1 mb-4 capitalize">
                                        {{(job?.job_detail?.date_time | dateTransform) || 'غير متوفر'}}
                                    </div>
                                </div>
                            </div>
                            <div class="sm:w-1/3 w-full">
                                <div>
                                    <div class="text-sm font-bold">{{'تم التحديث في'}}</div>
                                    <div class="border rounded-md p-2 mt-1 mb-4 capitalize">
                                        {{(job?.job_detail?.updated_at | dateTransform) || 'غير متوفر'}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col sm:flex-row w-full gap-6">
                            <div class="sm:w-1/3 w-full">
                                <div class="text-sm font-bold">{{'رقم البوابة'}}</div>
                                <div class="border rounded-md p-2 mt-1 mb-4 capitalize">
                                    {{job?.job_detail?.gate_number || 'غير متوفر'}}
                                </div>
                            </div>
                            <div class="sm:w-1/3 w-full">
                                <div class="text-sm font-bold">{{'عدد الأشخاص الداخلين'}}</div>
                                <div class="border rounded-md p-2 mt-1 mb-4 capitalize">
                                    {{job?.job_detail?.no_entering || 'غير متوفر'}}
                                </div>
                            </div>
                            <div class="sm:w-1/3 w-full">
                                <div class="text-sm font-bold">{{'عدد الأشخاص الخارجين'}}</div>
                                <div class="border rounded-md p-2 mt-1 mb-4 capitalize">
                                    {{job?.job_detail?.no_exiting || 'غير متوفر'}}
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col sm:flex-row w-full gap-6">
                            <div class="sm:w-1/3 w-full">
                                <div class="text-sm font-bold">{{'عدد الأشخاص في الداخل'}}</div>
                                <div class="border rounded-md p-2 mt-1 mb-4 capitalize">
                                    {{job?.job_detail?.no_inside || 'غير متوفر'}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Camp Visit-->
                    <div *ngSwitchCase="'3'" class="pt-4">
                        <div class="flex flex-col sm:flex-row w-full gap-6">
                            <div class="sm:w-1/3 w-full">
                                <div class="text-sm font-bold">{{'نوع الزيارة'}}</div>
                                <div class="border rounded-md p-2 mt-1 mb-4 capitalize">
                                    {{getJobType(job?.type)}}
                                </div>
                            </div>
                            <div class="sm:w-1/3 w-full">
                                <div>
                                    <div class="text-sm font-bold">{{'التاريخ والوقت'}}</div>
                                    <div class="border rounded-md p-2 mt-1 mb-4 capitalize">
                                        {{(job?.job_detail?.date_time | dateTransform) || 'غير متوفر'}}
                                    </div>
                                </div>
                            </div>
                            <div class="sm:w-1/3 w-full">
                                <div>
                                    <div class="text-sm font-bold">{{'تم التحديث في'}}</div>
                                    <div class="border rounded-md p-2 mt-1 mb-4 capitalize">
                                        {{(job?.job_detail?.updated_at | dateTransform) || 'غير متوفر'}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-col sm:flex-row w-full gap-6">
                            <div class="sm:w-1/3 w-full">
                                <div class="text-sm font-bold">{{'رقم المخيم'}}</div>
                                <div class="border rounded-md p-2 mt-1 mb-4 capitalize">
                                    {{job?.job_detail?.camp_number || 'غير متوفر'}}
                                </div>
                            </div>
                            <div class="sm:w-1/3 w-full">
                                <div class="text-sm font-bold">{{'درجة الحرارة'}}</div>
                                <div class="border rounded-md p-2 mt-1 mb-4 capitalize">
                                    {{job?.job_detail?.temperature || 'غير متوفر'}}
                                </div>
                            </div>
                            <div class="sm:w-1/3 w-full">
                                <div class="text-sm font-bold">{{'الرطوبة'}}</div>
                                <div class="border rounded-md p-2 mt-1 mb-4 capitalize">
                                    {{job?.job_detail?.humidity || 'غير متوفر'}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngSwitchDefault class="mt-4">{{'لم يكمل الموظف العمل بعد، سيتم توفير هذه المعلومات عند اكتمال العمل'}}</div>
                </div>
            </div>

        </div>
    </div>
</div>
