table {
    width: 100%;
}

.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
    background-color: #8f6c37;
    color:white;
    @apply border-primary-700;
}

.mat-mdc-paginator .mat-mdc-paginator-container{
    place-content: end !important;
}

